[package]
name = "rusqlite-gpkg"
version = "0.1.0"
edition = "2024"

[dependencies]
geo-traits = { version = "0.3.0", default-features = false }
rusqlite = { version = "0.38.0", features = ["bundled"] }
wkb = "0.9.2"
wkt = "0.14"
